<h1 title="Team">Team: {{ teamName }}</h1>

<div class="input">
  <mat-form-field>
    <input
      placeholder="Enter new player name here"
      matInput
      type="text"
      [(ngModel)]="name"
      (keydown.enter)="onEnterKeydown()"
    />
  </mat-form-field>
</div>

<div class="flex">
  <h4>Team Members:</h4>
  <span class="total-members">
    # <span 
        class="total-members__count"
        title="Total Members" 
        aria-label="Total Members">
        {{ data().length }}
      </span>
  </span>
</div>

<mat-list>
  <div *ngIf="data().length === 0">Empty list</div>
  <mat-divider *ngIf="data().length !== 0"></mat-divider>
  <ng-content *ngFor="let item of data(); index as i; trackBy: trackByFn">
    <mat-list-item>
      <div class="flex">
        <p title="Name" aria-label="Name">
          {{ item.name }}
        </p>
        <div class="flex">
          <mat-chip-set>
            <mat-chip
              title="Score"
              class="mat-chip mat-primary mat-chip-selected"
              color="primary"
              selected="true"
              aria-label="Score"
            >
              {{ item.points | fibonacci }}
            </mat-chip>
          </mat-chip-set>
          <button
            mat-icon-button
            title="Delete Element"
            aria-label="Delete Element"
            (click)="onRemoveClick(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-content>
</mat-list>
