:host {
  border: 1px solid black;
  display: block;
  margin: 10px;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.total-members {
  white-space: nowrap;
  margin-right: 10px;
  &__count {
    text-decoration: underline;
  }
}

.input {
  padding: 10px;
  > * {
    width: 100%;
  }
}