/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

h1, h4 {
    margin-left: 10px;
}

h4 {
    margin-bottom: 0;
}

p {
    margin: 0;
}